<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="customBinaryEndpointWcf">
                    <binaryMessageEncoding />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/WCFJWTServices/Service1.svc"
                binding="customBinding" bindingConfiguration="customBinaryEndpointWcf"
                contract="WcfJwtSvc.IService1" name="customBinaryEndpointWcf" />
        </client>
    </system.serviceModel>
</configuration>